{{- $repo := .Get 0 -}}
{{- $apiUrl := printf "https://api.github.com/repos/%s" $repo -}}

{{- $remoteResource := resources.GetRemote $apiUrl -}}

{{- $repoData := "" -}}
{{- if $remoteResource -}}
  {{- $repoData = $remoteResource.Content | unmarshal -}}
{{- end -}}

{{- with $repoData -}}
<div class="github-card" 
     style="border: 1px solid #ddd; border-radius: 6px; margin-bottom: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
            display: flex; justify-content: space-between; align-items: flex-start;">
  
  <div class="card-content" style="flex: 1;padding: 16px;"> 
    <h3 style="margin-top: 0; margin-bottom: 8px; font-size: 1.25rem;">
      <a href="{{ .html_url }}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #0969da; font-weight: 600;">
        {{ $repo }}
      </a>
    </h3>
    <p style="margin: 0; margin-bottom: 16px; font-size: 0.9rem; color: #57606a;">
      {{ .description | default "No description provided." }}
    </p>
    <div style="font-size: 0.8rem; color: #57606a;">
      <span style="margin-right: 16px;">
        ★ 
        {{- $num := .forks_count -}}
        {{- if gt $num 999 -}}
          {{- $floatNum := float $num -}}
          {{- $kNum := div $floatNum 1000.0 -}}
          {{- printf "%.1fk" $kNum -}}
        {{- else -}}
          {{- $num -}}
        {{- end -}}
      </span>
      {{- if .language -}}
      <span>
        ● {{ .language }}
      </span>
      {{- end -}}
    </div>
  </div>

  {{- if .owner.avatar_url -}}
  <div class="card-avatar" style="margin: 0 16px;">
    <img src="{{ .owner.avatar_url }}" alt="{{ .owner.login }} avatar" height="100px" style="border-radius: 50%; border: 1px solid #ddd;">
  </div>
  {{- end -}}

</div>
{{- else -}}
  <br>
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{- $repo -}}">{{ $repo }}</a>
{{- end -}}